@using TopicTalks.Web.Extensions
@model List<TopicTalks.Web.ViewModels.QuestionViewModel>

@if (Model.Count == 0)
{
    <div class="q-list-container text-center" style="padding: 40px 130px">
        <h1 class="title">No responded questions available</h1>
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div id="question-@item.QuestionId" class="q-list-container">
            <div class="d-flex justify-content-between">
                <p><strong>@(item.UserInfo != null ? item.UserInfo.Email : "Delete User")</strong></p>
                <p><local-time utc-datetime="@item.CreatedAt" format="3" time-ago="true"></local-time></p>
            </div>

            <div class="form-group row">
                <p>@item.Explanation</p>
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 topic">
                    @foreach (var topic in item.Topic.SplitAndTrim())
                    {
                        <p onclick="searchTag('@topic')">@topic</p>
                    }
                </div>
                <div>
                    <a href="@Url.ActionLink("QuestionDetails", "Home", new { questionId = item.QuestionId })" class="btn btn-primary">Answers</a>
                </div>
            </div>
        </div>
    }
}
