@using TopicTalks.Web.Extensions
@model List<TopicTalks.Web.ViewModels.QuestionViewModel>

@if (Model.Count == 0)
{
    <div class="content-container question-container text-center" style="padding: 2.5rem 8rem">
        <h1 class="title">No questions available</h1>
    </div>
}
else
{
    foreach (var question in Model)
    {
        var username = question.UserInfo is not null ? "@" + question.UserInfo?.Username : "Delete User";
        var url = question.UserInfo?.ProfileImageUrl ?? "/img/user.svg";

        <div id="question-@question.QuestionId" class="content-container question-container mb-4">
            @if (question.ImageFile is not null)
            {
                <div class="cover" style="margin-bottom: -.5rem">
                    <img src="@question.ImageFile?.DirectLink" alt="" />
                </div>
            }
            <div style="padding: 1.5rem">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center user-preview">
                        <div class="user-info user-preview" style="display: none">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <span class="user-image mb-1" style="width: 5rem; height: 5rem;">
                                    <img src="@url" alt="" />
                                </span>
                                <p class="text-center mb-0">
                                    <strong>@username</strong><br>Joined @question.CreatedAt.TimeAgo()
                                </p>
                            </div>
                        </div>
                        <span class="user-image" style="margin-right: 0.3rem">
                            <img src="@url" alt="" />
                        </span>
                        <strong>@(question.UserInfo?.Username ?? "Delete User")</strong>
                    </div>
                    <div>
                        <local-time utc-datetime="@question.CreatedAt" format="3" time-ago="true"></local-time>
                    </div>
                </div>

                <div class="form-group row">
                    <p>@question.Explanation</p>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="d-flex gap-2 topic">
                        @foreach (var topic in question.Topic.SplitAndTrim())
                        {
                            <p onclick="searchTag('@topic')">@topic</p>
                        }
                    </div>
                    <div>
                        <a href="@Url.ActionLink("QuestionDetails", "Home", new { questionId = question.QuestionId })" class="btn btn-primary">Answers</a>
                    </div>
                </div>
            </div>
        </div>
    }
}