@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TopicTalks.Web.Common
@using TopicTalks.Web.Extensions

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding: 1.25rem 6.25rem;">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Dashboard" class="navbar-brand" style="width: 10rem">
                <img src="~/img/logo-icon.svg" class="logo" alt="TopicTalks Logo" />
                <span class="logo-text">Topic<span>Talks</span></span>
            </a>

            <ul class="navbar-nav nav-center">
                @if (Context.UserId() != null)
                {
                    <li>
                        <a asp-controller="Home" asp-action="Dashboard" class="nav-link">
                            <i class="fi i-dashboard"></i>Dashboard
                        </a>
                    </li>
                }
                @if (Context.UserRole().Contains(RoleType.Student))
                {
                    <li>
                        <a asp-controller="Home" asp-action="PostQuestion" class="nav-link">
                            <i class="fi i-edit"></i>Post Questions
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="UserQuestions" class="nav-link">
                            <i class="fi i-post"></i> My Questions
                        </a>
                    </li>
                }
                @if (Context.UserRole().Contains(RoleType.Teacher))
                {
                    <li>
                        <a asp-controller="Home" asp-action="UserResponses" class="nav-link">My Responded Questions</a>
                    </li>
                }

                @if (Context.UserRole().Contains(RoleType.Moderator))
                {
                    <li>
                        <a asp-controller="Account" asp-action="GetExcel" class="nav-link">
                            <i class='fi i-table'></i>Export User Data
                        </a>
                    </li>
                }
            </ul>

            <ul class="navbar-nav d-flex justify-content-end" style="width: 10rem">
                @if (Context.UserId() is null)
                {
                    <li>
                        <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                    </li>
                }
                else
                {
                    <li>
                        @if (!Context.IsUserVerified())
                        {
                            <a class="pe-2" asp-controller="Account" asp-action="Verify" pop="Please verify your account.">
                                <i class="i-warning-yellow"><span class="path1"></span><span class="path2"></span></i>
                            </a>
                        }

                    </li>
                    <li>
                        @{
                            var imageUrl = Context.UserInfo()?.ImageFile?.DirectLink != null ? Context.UserInfo()!.ImageFile!.DirectLink + "=s128" : "/img/user.svg";
                        }
                        <span class="d-flex align-items-center pointer profile-preview">
                            <span class="fw-bold me-2 red-hover">
                                @Context.Username()
                            </span>
                            <span class="header-profile-image link">
                                <img src="@imageUrl" alt="">
                            </span>
                            <div class="user-info profile-preview" style=" display: none;">
                                <div class="flex-col-center">
                                    <div class="profile-image pointer mb-1" onclick="window.location.href='@(Context.UserInfo()?.ImageFile?.DirectLink ?? "/img/user.svg")'">
                                        <img src="@imageUrl" alt="" />
                                    </div>
                                    <div class="flex-col-center mb-1" style="font-size: 1rem">
                                        <strong>@@@Context.Username()</strong>
                                        <span>@Context.UserEmail()</span>
                                    </div>
                                    <div class="profile-button pt-1">
                                        <span class="btn btn-danger me-1" onclick="logout()">Logout</span>
                                        <span class="btn btn-primary" onclick="window.location.href='@Url.Action("Profile", "Account")'">Profile</span>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>