@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TopicTalks.Web.ViewModels.UserViewModel

<div class="container" style="margin-top: 8rem">
    <div class="content-container " style="max-width: 25rem; padding: 2rem">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <span class="user-profile-image" style="">
                <img id="preview-image" src="https://rawfin.net/assets/img/Rawfin.png" alt="">
                <span id="upload-trigger" class="change-icon pointer" pop="Change profile picture">
                    <i class="fi i-refresh"></i>
                </span>
                <img src="img/rolling-white.svg" class="user-profile-loading" alt="" />
                <input type="file" id="image" style="display: none;">
            </span>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td><label><b>Username</b></label></td>
                    <td>@Model.Username</td>
                </tr>
                <tr>
                    <td><label><b>Email</b></label></td>
                    <td>@Model.Email</td>
                </tr>
                @if (Model.UserDetails != null)
                {
                    <tr>
                        <td><label><b>Full Name</b></label></td>
                        <td>@Model.UserDetails.Name</td>
                    </tr>
                    <tr>
                        <td><label><b>Institute</b></label></td>
                        <td>@Model.UserDetails.InstituteName</td>
                    </tr>
                    <tr>
                        <td><label><b>Student ID</b></label></td>
                        <td>@Model.UserDetails.IdCardNumber</td>
                    </tr>
                }
                <tr>
                    <td><label><b>Joined On</b></label></td>
                    <td><local-time utc-datetime="@Model.CreatedAt" format="2" time-ago="false"></local-time></td>
                </tr>
                <tr>
                    <td><label><b>Status</b></label></td>
                    @if (Model.IsVerified)
                    {
                        <td><span class="text-success"><b>Verified</b></span></td>
                    }
                    else
                    {
                        <td>
                            <a asp-controller="Account" asp-action="Verify" class="d-flex align-items-center text-warning">
                                <i class="i-warning-yellow pe-2"><span class="path1"></span><span class="path2"></span></i>
                                <strong>Not Verified</strong>
                            </a>
                        </td>

                    }
                </tr>
            </tbody>
        </table>
        <div class="text-center pt-2">
            <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-primary">Change Password</a>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var isUploading;

        $('#upload-trigger').on('click', () => {
            if (isUploading) return; // Prevent recursive calls
            isUploading = true;

            $('#image').css({ "pointer-events": "none" });
            $('#image').trigger('click');
        });

        $('#image').on("change", () => {
            $('.user-profile-loading').show();

            uploadProfileImage()
                .then((response) => {
                    toastMessage('Profile image updated', ToastColor.Blue);
                })
                .catch(() => { })
                .finally(() => {
                    isUploading = false;
                    $('.user-profile-loading').hide();
                    $('#image').css({ "pointer-events": "auto" });
                });
        })

        function uploadProfileImage() {
            return new Promise((resolve, reject) => {
                if (validateImage($('#image'), mbToBytes(2))) {
                    previewImage('#image', '#preview-image')

                    var formData = new FormData();
                    formData.append('file', $('#image')[0].files[0]);

                    $.ajax({
                        url: '/file/changeProfileImage',
                        type: 'PUT',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: (response) => {
                            resolve(response);
                        },
                        error: (error) => {
                            toastMessage('Error uploading image');
                            reject(error);
                        }
                    })
                } else {
                    reject('Please select a valid image.');
                }
            });
        }
    </script>
}